/* Navbar module */
.ui.menu {
    border: none;
}

/* Hero banner module-----------------*/
.hero {
    height: 50vh;
    min-height: 300px;
}

.ui.grid > .row.hero > .column.info > img  {
    width: 35vw;
    max-width: 400px;
}

/* Call to action button module -------------- */
a.ui.button.cta {
    font-size: 1.25em;
    color: white;
    background: #d24800;
    border-radius: 0.33em;
}

/* Call to action container module ---------- */
.ui.grid > .row.cta-row {
    height: 300px;
    background: aliceblue;
}