#wizard-container {
    min-width: 300px;
    min-height: 400px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-x: hidden;
    overflow-y: hidden;
}

.hidden {
    visibility: hidden;
}

.choice {
    border: .19em gray solid;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 767px) {
    .choice {
        max-width: 250px;
    }
}

.choice.selected {
    border-color: #4088e8;
    border-width: .19em;
    color: #4088e8;
}

.choice.not-selected {
    border-width: .14em;
    border-color: white;
    color: gray;
}

.choice > div > img.image {
    max-width: 85px;
    margin-left: auto;
    margin-right: auto;
}

.choice.not-selected > div > img.image {
    opacity: .6;
}

.choice-text {
    margin-top: 10px;
    vertical-align: center;
    font-size: 1.5em;
}
